{% extends "base.html" %}
{% block title %}Résultats de la résolution{% endblock %}

{% block content %}
<h1 class="mb-4">Résolution terminée</h1>

<div class="row g-4">
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-body">
        <!-- On distingue 2 cas, soit on a trouvé une solution soit non -->
        {% if run.status == "SUCCESS" %}
        <!-- Affichage des paramètres de la résolution => apporte de la visibilité sur la lecture de l'historique -->
          <p><strong>Groupe:</strong> {{ run.groupe.nom }}</p>
          <p><strong>Etablissement:</strong> {{ run.etablissement }}</p>
          <p><strong>Paramètre de coût:</strong> {{ run.calculation_mod }}</p>
          <p><strong>Types de trajets:</strong> {{ run.mode }}</p>
          <p><strong>Date de création :</strong> {{ run.created_at }}</p>
          <p>Une solution a été trouvée. Voici le résultat proposé:</p>
          <details>
          <!-- Donnees JSON brut, peut servir à débuguer ou bien pour réutilisation dans d'autres contexte, j'ai préféré donc les laisser -->
            <summary class="mb-2"><strong>Résultat brut (JSON)</strong></summary>
            <pre class="bg-light p-3 rounded small">{{ run.result_json }}</pre>
          </details>
          <!-- Bouton de téléchargement de l'excel -->
          <a href="{% url 'download_excel' run.pk %}" class="btn btn-primary mt-2">Télécharger l'Excel</a>
        <!-- Si le statut est à FALSE alors on indique que nous n'avons pas trouvé de solution -->
        {% else %}
          <p>Malheureusement, nous n'avons pas trouvé de solution. Veuillez réessayer avec d'autres paramètres.</p> 
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Affichage de la map pour avoir un apperçu de ce qui est proposé -->
  <div class="col-12 col-lg-6">
    <div class="card h-100">
      <div class="card-body">
        <h2 class="h5 mb-3">Carte</h2>
        <div class="ratio ratio-4x3">
          <div class="border rounded overflow-auto p-2">
            {{ map|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Boutons de redirection classique -->
<div class="mt-3">
  <a href="{% url 'accueil' %}" class="btn btn-outline-secondary">Accueil</a>
  <button type="button" class="btn btn-light" onclick="history.back()">← Retour</button>
</div>
{% endblock %}
