<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Résultats d'une résolution</title>
    <!-- Icône de l'onglet -->
    <link rel="shortcut icon" href="/static/images/logo_picto.png" />
  </head>
  <body>
    <div>
      <!-- logo de l'asso en coin -->
      <img src="/static/images/logo_IRSAM.png" alt="logo de l'assocation" />
    </div>
    <div>
      <!-- Détail de la solution -->
      <h1>Détail de la Run</h1>
      <p>Status : {{ run.status }}</p>
      <p>Capacité : {{ run.capacity }}</p>
      <p>Date de création : {{ run.created_at }}</p>
      <p>Résultat brut : {{ run.result_json }}</p>
    </div>
    <div>
      <!-- Bouton de retour à l'accueil -->
      <button onclick="window.location.href = '/accueil'">
        <img src="/static/images/logo_accueil.png" alt="logo de l'assocation" />
      </button>
    </div>
  </body>
</html>
