<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lancement</title>
    <!-- Icône de l'onglet -->
    <link rel="shortcut icon" href="logo_picto.png" />
  </head>
  <body>
    <div>
      <img src="logo_IRSAM.png" alt="logo de l'assocation" />
    </div>
    <div>
      <img src="logo_OptIRSAM.png" alt="logo du produit" />
    </div>
    <div>
      <h1>Bienvenue sur OptIRSAM !</h1>
      <button onclick="window.location.href = '/accueil/'">Commencer</button>
    </div>
  </body>
</html>
