<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des données</title>
    <!-- Icône de l'onglet -->
    <link rel="shortcut icon" href="/static/images/logo_picto.png" />
  </head>
  <body>
    <div>
      <!-- logo de l'asso en coin -->
      <img src="/static/images/logo_IRSAM.png" alt="logo de l'assocation" />
    </div>
    <div>
      <h1>Gestion des données</h1>
    </div>
    <div>
      <!-- Bouton de retour à l'accueil -->
      <button onclick="window.location.href = '/accueil'">
        <img src="/static/images/logo_accueil.png" alt="logo de l'assocation" />
      </button>
    </div>
    <div>
      <!-- Affichage des données -->
      <div>
        <!-- Affichage des usagers -->
        <h2>Usagers</h2>
        <ul>
          {% for enfant in enfants %}
          <li>
            {{enfant}}
            <!-- Bouton d'affichage des infos d'un enfant -->
            <a href="{% url 'infos' 'enfant' enfant.id %}">
              <button type="button">+ d'infos</button>
            </a>
            <!-- Bouton de modification de l'enfant -->
            <a href="{% url 'edit_enfant' enfant.id %}">
              <button type="button">modifier</button>
            </a>
            <!-- Bouton de suppression de l'enfant -->
            <a href="{% url 'remove_enfant' enfant.id %}">
              <button type="button">supprimer</button>
            </a>
          </li>
          {% endfor %}
        </ul>
        <!-- Bouton d'ajout d'usagers -->
        <a href="{% url 'add_enfant' %}">
          <button type="button">Ajouter usager</button>
        </a>
      </div>
      <div>
        <!-- Affichage des groupes -->
        <h2>Groupes</h2>
        <ul>
          {% for groupe in groupes %}
          <li>
            {{groupe}}
            <!-- Bouton d'affichage des infos d'un groupe -->
            <a href="{% url 'infos' 'groupe' groupe.id %}">
              <button type="button">+ d'infos</button>
            </a>
            <!-- Bouton de modification de groupe -->
            <a href="{% url 'edit_groupe' groupe.id %}">
              <button type="button">modifier</button>
            </a>
            <!-- Bouton de suppression du groupe -->
            <a href="{% url 'remove_groupe' groupe.id %}">
              <button type="button">supprimer</button>
            </a>
          </li>
          {% endfor %}
        </ul>
        <!-- Bouton d'ajout d'un groupe -->
        <a href="{% url 'add_groupe' %}">
          <button type="button">Ajouter groupe</button>
        </a>
      </div>
      <div>
        <!-- Affichage des établissements -->
        <h2>Etablissements</h2>
        <ul>
          {% for etablissement in etablissements %}
          <li>
            {{etablissement}}
            <!-- Bouton d'affichage des infos d'un établissement -->
            <a href="{% url 'infos' 'etablissement' etablissement.id %}">
              <button type="button">+ d'infos</button>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
