<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier un enfant</title>
    <!-- Icône de l'onglet -->
    <link rel="shortcut icon" href="/static/images/logo_picto.png" />
  </head>
  <body>
    <div>
      <!-- logo de l'asso en coin -->
      <img src="/static/images/logo_IRSAM.png" alt="logo de l'assocation" />
    </div>
    <div>
      <!-- Création du formulaire -->
      <h1>Modifier l'enfant</h1>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}{{adresse_form.as_p}}
        <input type="submit" value="Modifier" />
      </form>
    </div>
    <div>
      <!-- Bouton de retour à l'accueil -->
      <button onclick="window.location.href = '/accueil'">
        <img src="/static/images/logo_accueil.png" alt="logo de l'assocation" />
      </button>
      <!-- Bouton de retour en arrière -->
      <button onclick="window.location.href = '/users'">&#8592;</button>
    </div>
  </body>
</html>
